//colors

/* Base Background */
$clr-top: hsl(210, 92%, 24%);
$clr-botton: hsl(188, 100%, 35%);

/* Weather Colors */
$clr-cold:hsl(211, 100%, 50%);
$clr-ligth-warm:hsl(53, 98%, 47%);
$clr-warm:hsl(39, 100%, 50%) ;
$clr-hot:hsl(0, 100%, 50%);
$clr-very-hot:hsl(344, 100%, 37%);
$clr-are-you-ok:hsl(348, 100%, 32%);

/* Other Colors */
$clr-white: hsl(0, 0%, 100%);

/* Fonts */
$ff-principal:'Montserrat', sans-serif;
$ff-secondary:'Wix Madefor Display', sans-serif;